.card{
    width: 300px;
    height: 390px;
    border: 3px solid black;
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card button{
    width: 36%;
    padding: 6px;
}
.card button:hover{
 background-color: black;
 color: #fff;
 cursor: pointer;
}
.top{
    display:'flex';
    justify-content: left;
    flex-wrap: wrap;
    transform: translate(6% , 4%)
}