.form{
    width: 500px;
    padding: 90px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
    }
    .input{
        background: none;
        border: 0;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid #3498db;
        padding: 14px 10px;
        width: 200px;
        color: #fff;
        border-radius: 25px;
        outline: none;
       
    }
    .input:focus{
        width: 300px;
    }
    .h1{
        color: #aba89f;
    }
    .button{
       background: none;
       color: #fff;
       width: 98px;
       height: 32px;
       border-radius: 11px;
       outline: none;
       border: 2px solid #0cf546;
       cursor: pointer;
       
    }
    .link-btn {
        cursor: pointer;
        margin-top: 5px;
    }