.single{
    margin-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.single button{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.itms{
    border: black 2px solid;
    width: 60%;
    padding: 80px;
}